<nav id="nav1" class="navbar navbar-dark bg-dark ">
  <span class="navbar-text">
    <h1 class="display-2">Training Management System</h1>
  </span>
</nav>
<div id="div1">
  <div id="nav1" class="jumbotron">
    <h1 id="greet">Hello, Welcome to Training Management System</h1><br>
    <h2 class="display-6">New User ? Register here <a class="btn btn-primary btn-lg" href="#" role="button"
        routerLink="/userReg">Register</a></h2>
    <h2 class="display-6">Already an User ? <a class="btn btn-primary btn-lg" href="#" routerLink="/userLogin"
        role="button">Login</a></h2>
    <!-- <h2 class="display-6">Manager Login <a href="#" routerLink="managerLogin" routerLinkActive="active" class="btn btn-primary btn-lg"  role="button">Login</a></h2> -->

  </div>
</div>